{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Blog_Website is where your interests connect you with your people.
        <h4>Express yourself.</h4>
<p>Blog_WebSite is your canvas. Post text, photos, GIFs, videos, live videos, audio, anything. Make your own GIFs. Cover them in stickers and text, if you like.</p>

<h4>Be yourself.</h4>
<p>Look however you want. Customize your Tumblr’s colors, fonts, layout, everything. Follow whatever topics you’re interested in. Find new ones you didn’t even know exist.</p>

<h4>Connect with your people.</h4>
<p>Join millions of people in millions of communities across millions of #tags. See something you love? Reblog it to your Tumblr and start a conversation. Or just lurk, if you’re feeling shy. No big deal.

It’s a whole big world in here.</p>

<p>Come on in.Blog_Website is where your interests connect you with your people.</p>
<h4>Express yourself.</h4>
<p>Blog_WebSite is your canvas. Post text, photos, GIFs, videos, live videos, audio, anything. Make your own GIFs. Cover them in stickers and text, if you like.</p>

<h4>Be yourself.</h4>
<p>Look however you want. Customize your Tumblr’s colors, fonts, layout, everything. Follow whatever topics you’re interested in. Find new ones you didn’t even know exist.</p>

Connect with your people.
Join millions of people in millions of communities across millions of #tags. See something you love? Reblog it to your Tumblr and start a conversation. Or just lurk, if you’re feeling shy. No big deal.

It’s a whole big world in here.

Come on in.v</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
